* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------- Navbar ----------------- */

.header-container {
    position: sticky;
    background: rgb(120, 126, 123);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding-right: 2em;
    padding-left: 2em;
    width: 100%;
    height: 9em;
}

.logo {
    display: flex;
    width: 200px;
    position: relative;
    max-height: 7em;
    width: auto;
    border-radius: 30px;
}

.header-container__navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-family: Helvetica, sans-serif
}

.header-container__navbar a {
    position: relative;
    color: #fff;
    font-weight: 700;
    text-decoration: none; 
}

.header-container__navbar a:hover,
.header-container__navbar a:focus-visible {
    color: #14f25d
}


/* --------------- Gallery --------------- */

body {
    min-height: 100vh;

}
.gallery {
    background-color: rgb(120, 126, 123);
}

.gallery__page {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gallery__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
    max-width: 50em;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Helvetica, sans-serif
}

h1 {
    text-align: center;
}

.gallery__paragraph {
    font-size: 1.3em;

}

.gallery__img {
    width: 100%;
    padding: 1em;
    object-fit: contain;
}
.gallery__images {
    columns: 430px;

}


/* CSS FOR PRODUCT */

.coffee-drink {
    padding-right: 1em;
    display: inline-block;
    color: black;
    font-weight: bold;
    max-width: 30%;
    min-width: 10em;
    text-align: start;
}
.coffee-menu {
    margin-top: 20px;
    margin-bottom: 20px
}
.coffee-menu-item{
    border-bottom: 1px solid white;
    padding: 0.3em;
    margin-bottom: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
}

.item-beans, .gadget-item{
    margin:30px;
    max-width: 50em;
}
.item-title, .gadget-title{
    text-align: start;
    display: block;
    max-width: 100%;
    font-weight: bold;
    /* font-size */
    color: forestgreen;
    margin: 15px;
}

.item-price, .gadget-price {
    display: block;
    text-align: start;
    padding: 10px;
}

.beans-container, .gadgets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.form-container{
    display: flex;
    justify-content: center;

}


.button {
    width: 50%;
    background-color: #14f25d;
    padding: 5px;
    color: #000000;
    border-radius: 3px;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    position: relative;
}

/* -------- Footer ------- */

footer {
    background: rgb(120, 126, 123);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4em;
    padding: 2em;
    width: 100%;
    height: 4em;
   
}

.fa-brands {
    font-size: 30px;
    margin-top: 3em;
    margin-bottom: 3em;
} 

/*-------- landing --------*/
*{
    margin: 0;
    padding: 0;
}



.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header_container-navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}


.logo{
    color: green;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;
    width: 200px;
    height: 70px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: green;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid green;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: green;
    border: 2px solid green;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: green;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: green;
    font-size: 65px
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: green;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid green;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: green;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: green;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: green;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: green;
}