* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------- Navbar ----------------- */

.header-container {
    position: sticky;
    background: rgb(120, 126, 123);
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    padding-right: 2em;
    padding-left: 2em;
    width: 100%;
    height: 9em;
}

.logo {
    display: flex;
    width: 200px;
    position: relative;
    max-height: 7em;
    width: auto;
    border-radius: 30px;
}

.header-container__navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-family: Helvetica, sans-serif
}

.header-container__navbar a {
    position: relative;
    color: #fff;
    font-weight: 700;
    text-decoration: none; 
}

.header-container__navbar a:hover,
.header-container__navbar a:focus-visible {
    color: #14f25d
}


/* --------------- Gallery --------------- */

body {
    min-height: 100vh;

}
.gallery {
    background-color: rgb(120, 126, 123);
}

.gallery__page {
    display: flex;
    align-items: center;
    justify-content: center;

}

.gallery__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
    max-width: 50em;
    margin-left: 20%;
    margin-right: 20%;
    font-family: Helvetica, sans-serif
}

h1 {
    text-align: center;
}

.gallery__paragraph {
    font-size: 1.3em;

}

.gallery__img {
    width: 100%;
    padding: 1em;
    object-fit: contain;
}
.gallery__images {
    columns: 430px;

}


/* CSS FOR PRODUCT */

.coffee-drink {
    padding-right: 1em;
    display: inline-block;
    color: black;
    font-weight: bold;
    max-width: 30%;
    min-width: 10em;
    text-align: start;
}
.coffee-menu {
    margin-top: 20px;
    margin-bottom: 20px
}
.coffee-menu-item{
    border-bottom: 1px solid white;
    padding: 0.3em;
    margin-bottom: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
}

.item-beans, .gadget-item{
    margin:30px;
    max-width: 50em;
}
.item-title, .gadget-title{
    text-align: start;
    display: block;
    max-width: 100%;
    font-weight: bold;
    /* font-size */
    color: forestgreen;
    margin: 15px;
}

.item-price, .gadget-price {
    display: block;
    text-align: start;
    padding: 10px;
}

.beans-container, .gadgets-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.form-container{
    display: flex;
    justify-content: center;

}


.button {
    width: 50%;
    background-color: #14f25d;
    padding: 5px;
    color: #000000;
    border-radius: 3px;
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    position: relative;
}

/* -------- Footer ------- */

footer {
    background: rgb(120, 126, 123);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4em;
    padding: 2em;
    width: 100%;
    height: 4em;
   
}

.fa-brands {
    font-size: 30px;
    margin-top: 3em;
    margin-bottom: 3em;
} 

